/* general */
html, body{
    min-height: 100%;
    height: 100%;
    margin: 0;
    width: 100%;
}
body {
    background: #d9ecff;
    color:black;
    font: 14px Arial, sans-serif;
}
header {
    position: fixed;
    height: 75px;
    width: 100%;
    background: #242424;
}
a {
    color: #00B7FF;
}
.bg-ready {
    background-color: #166f4e;
}
h1, h2, h3, h4, h5 {
    font-family: "Amaranth", Arial, sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
/* alignment */
.flex{
    display: flex; 
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* buttons */
button {
    background:none;
    border:none;
    cursor: pointer;
    padding:5px;
}
button:focus {
}
.btn{
    background: none;
    border: none;
    cursor: pointer;
}
.btn:focus {
    outline:0;
}
/* forms */
.form {
    height: 100%;
    padding: 20px;
    position: relative;
    width: 100%;
}
/* inputs */
input {
    border: 1px solid #ddd;
    border-radius: 2px;
    display: block;
    padding: 8px 5px;
    margin-bottom: 10px;
    width: 100%;
}
/* main */
main {
    height: 100%;
}
/* app */
#app {
    display: flex;
    height: 100%;
    width: 100%;
}
/* chat user */
#chatUserTemplate {
    background:#97b7d8;
    height: 50px;
    padding: 10px;
}
#chatApp {
}
#chatRoomList {
    background: #b2cde8;
    height: 100%;
}
#chatRoomListHeader {
    color: white;
    margin: 0;
    padding: 10px;
}
/* chat room template */
template-chatroom {
    border: 1px solid #0033670a;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 10px;
}
.chatroom-header{
    cursor: pointer;
}
.chatroom-name {
    font-weight: bold;
}
.chatroom-chat {
    background: white;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow-y: scroll;
    padding:4px;
}
.chatroom-controls input{
    display:inline-block;
    width: 80%;
}
.chatroom-controls button{
    display:inline-block;
}
/* chat room user template */
.chatroom-user-avatar{
    width:25px;
}
.chatroom-user-avatar,
.chatroom-user-name{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}
/* chat room message template */
.chatroom-message-user,
.chatroom-message-text{
    display:inline-block;
}
/* fonts */
@font-face {
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    src: local('Amaranth Regular'), local('Amaranth-Regular'), url(./../fonts/amaranth.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* animations */
@-webkit-keyframes moveup {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
    }
}
@keyframes moveup {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
    }
}
@-webkit-keyframes movedown {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
    }
}
@keyframes movedown {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
    }
}